<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="SampleSetting" value="false" />
  </appSettings>
  <connectionStrings>
    <remove name="firstApplicationDatabaseConnectionString" />
    <add name="firstApplicationDatabaseConnectionString" connectionString="Server=127.0.0.1; Database=sample_database; Uid=my_database_user; Pwd=my_database_password" providerName="MySql.Data.MySqlClient" />
    <remove name="secondApplicationDatabaseConnectionString" />
    <add name="secondApplicationDatabaseConnectionString" connectionString="Server=127.0.0.1; Database=sample_database; Uid=my_database_user; Pwd=my_database_password" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>